.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.add-room-btn {
  margin-top: 20px;
  background-color: #e24ada;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 70%;
  border: none;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 2px 4px rgb(46, 16, 48);
  position: relative;
}
.add-room-btn:hover {
  background-color: #b11aa9;
}
.add-room-btn::after {
  content: "Click here to add a room";
  width: 10rem;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(25, 24, 24, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.add-room-btn:hover::after {
  opacity: 1;
}
.home-page div {
  gap: 15px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.render-room {
  border-radius: 3%;
  padding: 20px;
  height: 10rem;
  width: 15rem;
}
.render-room a {
  color: white;
  text-decoration: none;
}