.room-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.my-room {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  border: solid 1px #e24ada;
  border-radius: 3%;
  padding: 20px;
  height: 10rem;
  width: 15rem;
}
